@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


body {
    background-color: #ffff;
    width: auto;
    height: auto;
}

nav {
    background-color:#f1f0f0;

    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

#leftnave {
    height: 100%;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#rightnave {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

#navbaricons {
    width: 138px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

#navbartitels {
    border-right: 2px solid rgb(120, 114, 114);
    width: 318px;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




#set-panel {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.carde-panel {

    background-color: rgb(246, 243, 243);
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    gap: 20px;


}

.card {
    margin: 20px;
    display: flex;
    gap: 20px;
    width: 50%;

}

.left-carde-panel {
    background-color: rgb(246, 243, 243);
    width: 50%;
    height: 70%;

}

.cuntiti-button {

    width: 100%;
    display: flex;

}

.img-card {

    width: 100px;
    height: 100px;

}

#panel {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 80px;

}


#button {

    width: 90%;
    height: 30px;
    background-color: rgb(255, 162, 0);
    border-radius: 15px;
    text-align: center;
    padding-top: 18px;
}

#toutal {
    background-color: rgb(246, 243, 243);
    width: 30%;
    height: 25%;
    border-radius: 0%;

}

.cuntiti-button{
    margin-right:25%;



}

.cuntiti-button>p {
  
    text-align: center;
    width: 30px;
    height: 30px;
}

#prix-tout {
    display: flex;
    justify-content: space-around;
    
}

.raiet-card {
   width:auto ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#buttom-achter {

    width: 100%;
    display: flex;
    justify-content: center;


}



footer {

    display: flex;
    justify-content: space-between;

}

#bottom-icon {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

#input-elm {
  
    width: 50%;
    display: flex;
    gap: 15px;
    align-items: center;
}
input{
    border: none;
}

#bottom-list {
    list-style-type: none;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delet {
    width: auto;
    gap: 5px;
    display: flex;
    align-items: center;
}

#menu{
    display:none;
}
@media screen and ( max-width:1237px) {
    #panel{
        width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;

    }
    .disctop-mod{
        display: none;
        }
        #navbartitels {
            border-right:0px;
    
        }
        #menu{
            display:block;
        }
}
@media screen and ( max-width:965px) {
    #set-panel{
        width: 100%;
    }



    #bottom-list {
        list-style-type: none;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: self-start;
    }
    
#toutal {
    
    width: 100%;
    height: 25%;


}

}