@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


body{


        position: absolute; 
        width: 1250px;
        height:900px;
        display: flex;
        flex-direction: column;
        align-items: center;
  
    
}
nav{
    background-color: rgb(175, 181, 181);
    position:absolute;
    width:100%;
    height:42px;
    display: flex;
    justify-content: space-between;
}

#leftnave{
    height: 100%;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#rightnave{
    width:40%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
#navbaricons{
    width: 138px;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    gap:20px;
    align-items:center;
}
#navbartitels{
    border-right:2px solid  rgb(120, 114, 114);
    width: 318px;
    height:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




main{
   
    width: 100%;
    height: 1000px ;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
#first-section{
    position:absolute;
    top: 100px;
    width:100%;
    height:35%;
    display: flex;
    gap: 20px;
}

#shop{
  
    background-color: aliceblue;
    width:64.5%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.card-shop{
    width:100% ;
    height:29% ;
    display: flex;
    flex-direction: column;
}

.top-of-card-shop{
    width:100%;
    height:70%;
    display:flex;
    
   }

 img{
   
    width:15%;
    height:100%;
    margin:0px 50px;
   
 }  
.right-top-of-card-shop{
    width:80%;
    display: flex;
    justify-content:space-between;
   }




.bottom-of-card-shop{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.right-bottom-of-card-shop{

    
    margin-right:55px;
    width:20% ;
    height: 35px;;
    display: flex;
    justify-content:center;
    align-items: center;
}
.conter-product{
    background:rgb(255, 178, 24);
}

.conter-product,p{
    width:35px;
    height:35px; 
    text-align: center;
    color: aliceblue;
}
p{
    padding-top:5% ;
    color: rgb(0, 0, 0);
}



.supprimer{
    margin-left:45px;
    width:auto;
    gap:5px;
    display: flex;
    align-items: center;
}

aside{
    position:absolute;
    right: 0px;
    top:0%;
    border: 1px solidrgb(77, 14, 179);
    width:34%;
    height: 60%;
  background-color: aliceblue;
 
}
#asid-elm{
  
    margin: 15px ;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
#commander{
    size: 15px;
    font-style:oblique;
    padding-top:3%;
    text-align: center;
    width:80%;
    height:20%;
    background-color: rgb(255, 209, 58);
    margin-left:45px  ;
    
}
#aside-titel{
    position: absolute;
    margin:20px;
}
hr{
    margin-top:15px;
    width:90%;
    color: rgb(36, 34, 34);
    
}
footer{
    border-color: aliceblue;
    border-top: 2px solid rgb(109, 94, 94);
    width: 100%; 
    height: 100px;
    top: 800px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(195, 199, 202);
    
}
#right-footer{
display: flex;
flex-direction: column;
justify-content: center;

}
#footer-icon{
  
    display: flex;

}
.icon{  
    left: 50px;
    width:15px ;
    height:15px;
    margin-right:0px;
    top:5px;
}
input{
 width:200px;


}
ul{
   margin-top:35px;
    width:50%;
    display: flex;
    justify-content:space-evenly;
}
li{
    stroke: none;
}

.left-card-text{
  
    width:30% ;
    height:100%;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;

}